<!DOCTYPE html>
<html lang="en">
<head>
    <title>登录页面</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form id="form" action="/login" method="post">
    <label>用户名:</label><input type="text" name="username" value=""/>
    <label>密码:</label><input type="password" name="password" value=""/>
    <input type="submit" value="登录"/>
</form>
</body>
</html>